*{
    background-color: yellowgreen;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.container{
    width: 800px;
    height: 100vh;
    background-color: blue;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.caja {
    border: 1px solid red;
    background-color: aqua;
    width: 100px;
    height: 100px;
    justify-content: center;
    box-sizing: 10%;
}
